name: Auto Release

on:
  pull_request:
    types: [closed]
    branches:
      - master

permissions:
  contents: write

jobs:
  release:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Extract version from PR title
        run: |
          VERSION=$(echo "${{ github.event.pull_request.title }}" | grep -Eo "[0-9]+\.[0-9]+\.[0-9]+")
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          tag_name: "v${{ env.VERSION }}"
          release_name: "Release v${{ env.VERSION }}"
          body: |
            ✔ Public JS/CSS updated
            ✔ Changes committed
            ✔ Private repo GitHub release created
